<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/about">Nosotros</a></li>
            <li><a href="/services">Servicios</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>